// Generic

.label {
    display: inline-block;
    width: 100%;
    font-family: $secondary-font;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #717171;

    &--large {
        font-size: 1rem;
        color: #3A3A3A;
    }
}

// To Do

.todo {
    padding: ms(0)*4 ms(0)*3 ms(0)*2;
    @include breakpoint(max-width 550px) { font-size: 14px; }

    // List Labelings
    @keyframes labelEntrance {
        from {
            transform: translateX(-150px);
            opacity: 0;
        }
    }

    &__todo:before, &__finished:before, &__add:before {
        @extend .label;
        @extend .label--large;

        display: block;
        width: auto;
        margin-right: 2.441rem;
        position: absolute;
        top: 0;
        right: 100%; 

        white-space: nowrap;
        animation: labelEntrance 0.5s;

        @include breakpoint(max-width 880px) {
            position: relative;
            right: 0;
            left: 0;
            background: white;
            padding: 0.5rem 0;
            margin: 0.5rem 0;
        }
    }

    // Item
    @keyframes itemIn {
        from {
            opacity: 0;
        }
    }

    @keyframes titleIn {
        from {
            transform: translateX(150px);
        }
    }

    @keyframes checkboxIn {
        from {
            
        }
    }
    
    &__item {
        display: flex;
        width: 100%;
        margin-bottom: ms(2);

        transition: all 0.6s;
        animation: itemIn 0.6s;

        &:hover {
            cursor: pointer;

            .todo__checkbox { 
                background: #D9D9D9; 
            }

            .todo__title {
                transform: translateX(8px);
                opacity: 0.8;
            }
        }
    }

    &__item--finished {
        .todo__checkbox { background: #A3DCBB !important; border: none; }
        
        .todo__title, .label { opacity: 0.7; }
    }

    &__title {
        max-width: 500px;
        margin: 0;
        
        line-height: 1.4;
        font-size: ms(2);
        color: #636363;

        animation: titleIn 0.6s;
        transition: all 0.3s;

        overflow: hidden;
    }

    &__checkbox {
        display: inline-block;
        min-width: ms(-1)*2;
        height: ms(-1)*2;
        margin-right: ms(2);
        position: relative;

        border: 2px solid #D9D9D9;
        border-radius: 100%;

        animation: checkboxIn 0.5s;
        transition: all 0.2s;
        
        &:before {
            content: '';
            position: absolute;
            top: -#{ms(-1)};
            bottom: -#{ms(-1)};
            left: -#{ms(-1)};
            right: -#{ms(-1)};
            z-index: -1;

            background: white;
            border-radius: 100%;
        }
    }

    &__checkbox--vline:after {
        content: '';
        width: 1.5px;
        height: 100vh;
        position: absolute;
        left: 50%;
        top: 100%;
        z-index: -2;

        background: #EFEFEF;
    }

    // Add New Task
    &__add {
        position: relative; 

        &:before { 
            content: 'To Do'; 
            font-family: $primary-font;
            font-size: ms(3);
            font-weight: bold;
            text-transform: capitalize;
        }

        &:hover { 
            .todo__title {
                transform: scale(1); 
            }
        }
    }

    // Input
    &__input {
        @extend .todo__title;
        
        width: 100%;

        font-family: $primary-font;
        border: none;
        padding-bottom: ms(-3);
        margin-bottom: ms(-6);
        border-bottom: 1px solid #E1E1E1;

        opacity: 0.5;
        &:focus {
            opacity: 1;
        }
    } 

    // To Do List
    &__todo {
        &:before { 
            content: 'To Be Done'; 
        }
    }

    // Finished List
    &__finished {
        position: relative;

        &:before { content: 'Finished'; }
    }

    &__todo, &__finished {
        margin: ms(4) 0;
        position: relative;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;

        &:before { order: 1; }
        .todo__item:first-child { margin: 0; }
    }
}